@{
	ViewData["Title"] = "Admin panel";
}

<div class="text-center">
	<h1 class="display-4">Admin panel</h1>
	<a asp-area="Administration" asp-page="/Accounts/RegisterUser">Register new user</a>
</div>