@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<div data-sensor-hub="/SensorHub"><p data-sensor-key="1"></p><p data-sensor-key="2"></p></div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Utils/LiveUpdate.js">

</script>
