@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<p id="live_content"></p>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript">
let builder = new signalR.HubConnectionBuilder().withUrl("/SensorHub?key=1");

var connection = builder.build();

connection.on("valueUpdate", function (value) {
 	console.log(value)
    document.getElementById("live_content").textContent = value;
});

connection.start().catch(function (err) {
    return console.error(err.toString());
});
</script>
