@page
@using AgrisysAirFeedingSystem.Models.DB
@using AgrisysAirFeedingSystem.Models.DBModels
@using Microsoft.EntityFrameworkCore
@model AgrisysAirFeedingSystem.Areas.Kitchen.Pages.Index

@{
    ViewData["Title"] = "Kitchen";
}

<div class="row">
    <div class="col-md">
        @{
            DbContext db = new AgrisysDbContext();
            foreach (Silo silo in db.Set<Silo>())
            {
                <div class="siloContainer justify-content-center">
                    <span>Silo @silo.SiloId</span>
                    <span>@silo.Capacity kg max</span>
                    <img max-width="90%" src="images/silo-icon.jpg" alt="icon of silo"/>
                </div>
            }
        }
        <div>
            <img src="images/pipe.png" alt="Icon of dosage supplying pipe"/>
            <img src="images/spinmechanism.png" alt="Icon of doser mechanism"/>
        </div>
    </div>
    <div class="col-md">
        <div class="justify-content-center">
            <span>### kg</span>
            <img src="images/mixer.png" alt="Icon of mixer"/>
            <img src="images/mixer.png" alt="Icon of supplier (fordeler)"/>
        </div>
    </div>
    <div class="col-md">
        <a href="javascript:alert(1);">Test doser</a>
        <a>Test mixer omrører</a>
        <a>Test lem(danger)</a>
        <a>Test fordeler omrører</a>
        <a>Test cellesluser</a>
        <a>Test blæser</a>
    </div>
</div>