@page
@model AgrisysAirFeedingSystem.Areas.Kitchen.Pages.Index

@{
    ViewData["Title"] = "Kitchen";
}

<div class="row">
    <div class="col-md">
        <div class="siloContainer">
            <span>silo name</span>
            <span>silo weight kg</span>
            <img src="images/silo-icon.jpg" alt="icon of silo"/>
        </div>
        <div>
            <img src="" alt="Image of dosage supplying mechanism"/>
        </div>
    </div>
    <div class="col-md">
        
    </div>
    <div class="col-md">
        <a href="javascript:alert(1);">Test button</a>
    </div>
</div>