@page
@using AgrisysAirFeedingSystem.Areas.Administration.Pages.Accounts
@model AgrisysAirFeedingSystem.Areas.Administration.Pages.Accounts.RegisterUserModel
@{
    //ViewData["Title"] = "Register User";
}

<h1 xmlns="http://www.w3.org/1999/html">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Enter user details</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.DisplayName" class="form-control" autocomplete="name" aria-required="true" placeholder="display name" />
                <label asp-for="Input.DisplayName">Display name</label>
                <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Role" class="form-control" aria-required="true">
                    <option selected="selected">User</option>
                    <option>Manager</option>
                    <option>Admin</option>
                </select>
                <label asp-for="Input.Role">Select role</label>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <a href="javascript:history.back()" class="btn btn-danger">Back</a>
            <button id="registerSubmit" type="submit" class="btn btn-primary float-end">Registrer bruger</button>
        </form>
    </div>
</div>

@{
    if (Request.Query.ContainsKey("createdUser"))
    {
        <div id="userCreatedModal">
            <span>User @Request.Query["createdUser"] has been created.</span>
        </div>
    }
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @if (Request.Query.ContainsKey("createdUser"))
    {
        <script type="application/javascript">
            $().ready(setTimeout(function (){
                $("#userCreatedModal").fadeOut(500);
            }, 3000));
        </script>
    }
}